
header{position:absolute;
       top:0px;
       left:0px;
       width: 100%;
       height: 60px;
       background-color: black;
}




.logo {
       float: left;
       color: white;
       font-size: 25px;
       line-height: 60px;
       margin-left: 10px;
        }



header ul {
    float: right;
    line-height: 40px;
    
    
}


header ul li{
    float: left;
    list-style: none;
    padding-right: 20px;
    color: white;
    font-size: 18px;
    
}



main{
    clear:both;
}

.container{
    width:95%;
    margin: 0 auto;
    margin-top: 80px;
    
}

.right{
    float: left;
    background-color: aqua;
    width: 70%;
    height: 500px;
    margin-bottom: 40px;
    
}




.left{
    float: left;
    background-color: azure;
    width: 30%;
    height: 500px;
    margin-bottom: 40px;
    
}




footer{
    clear:left;
    position: absolute;
    text-align: center;
    background-color: black;
    color: white;
    width: 100%;
    height: 60px;
    line-height: 60px;
    bottom:0;
    left:0;
    
    
}